*{
   margin: 0;
   padding: 0;
}


.menuHorizontalCompleto {

    width: 10%;
    height: 90px;
 }
 
 .logo {
   float: left;
 }
 
 .menuHorizontal{
    width: 90%;
    float: left;
    /* width: 52%; */
  
 }

 .menuHorizontal2{
   width: 90%;
   float: left;
   /* width: 52%; */
 
}

 
#menu2{
   width: 70%;
   height: 60px;
   padding: 10px 50px 10px 50;
   background-color: white;
   text-align: center;
   float: left;
   position: absolute;
   margin-left: 17%;
}

#menu2 input{
   font-size: 19px;
   padding: 22px 5% 15px 5%;
   /* margin-left: 11%; */
   background-color: #f7f7f7;
   color: #151514;
   text-align: center;
   display: inline-block;
   font-family: none;
   border-style: none;;
}
 
 H1{
    float: left;
    width: 42%;
 }

 #tabla{
    margin-top: 2%;
    background-color: #ffffff87;
    width: 100%;
 }
 
 #menu{
    width: 70%;
    height: 400px;
    margin-top: 9%;
    padding: 45px 45px 45px 45px;
    background-color: #e6e6e68f;
    text-align: left;
    float: left;
    position: absolute;
    margin-left: 10%;
 }
 
 
 #menu input{
   font-size: 15px;
   padding: 10px 10px 10px 10px;
   margin-left: 34%;
   background-color: #f7f7f7;
   color: #151514;
   text-align: center;
   display: list-item;
   font-family: none;
   border-style: none;
   /* margin-bottom: 0%; */
   width: 37%;
 }
 
 #menu input #agregar {
       border-bottom: bisque;
 }
 
 #menu label{
    font-size: 25px;
    text-align: left;
    float: left;
    margin-left: 6%;
    margin-top: 0.5%;
 }
 
 .separador {
    width: 100%;
    height: 0px;
    background-color: white;
    clear: both;
 }
 
 
 .salidas {
    width: 100%;
    height: 100px;
 } 